<table class="table">
    
        <tr>
            <td> Name </td>
            <td>{{employee.name}}</td>
        </tr>
        <tr>
            <td> Age </td>
            <td>{{employee.age}}</td>
        </tr>
        <tr>
            <td> Status </td>
            <td>{{employee.status}}</td>
        </tr>
        <tr>
            <td> CreateAt </td>
            <td>{{employee.CreateAt}}</td>
        </tr>

    </table>
    <a class ="btn btn-default" [routerLink]="['/employee']"> Go Back</a>
    <a class ="btn btn-primary" [routerLink]="['overview']"> Overview</a>
    <a class ="btn btn-primary" [routerLink]="['project']"> project</a>
    <router-outlet></router-outlet>