<table class ="table">
        <thead>
            <tr>
                <td>  Name  </td>
                <td>  Age  </td>
                <td>  Status  </td>
                <td>  CreateAt  </td>                           
            </tr>
        </thead>
       <tbody>
           <tr >
               <td>{{employee.name}}</td>
               <td>{{employee.age}}</td>
               <td>{{employee.status}}</td>
               <td>{{employee.CreateAt}}</td>
               
               
           </tr>
       </tbody>
    
    </table>
    <button (click)="GotoEmployee()"> Go to employee</button>