<!--The content below is only a placeholder and can be replaced.-->
<!--div style="text-align:center" -->

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div>

                <div class="collapse navbar-collapse" id="navbarResponsive">
                        <ul class="navbar-nav">

                                <li>
                                        <a class="nav-link" routerLink="" routerLinkAcitve="active">Home</a>
                                </li>
                                <li >
                                        <a class="nav-link" routerLink="employee" routerLinkAcitve="active">Employee</a>
                                </li>
                                <li *ngIf="!isLoginIn">
                                        <a class="nav-link" (click)="CheckLogin()" routerLink="login"routerLinkAcitve="active">Login</a>
                                </li>
                                <li >
                                        <a class="nav-link" (click)="Loggout()" routerLink="login">Logout</a>
                                </li>
                                
                        </ul>
                </div>

        </div>
</nav>

<!-- Page Content -->
<div class="container">

        <router-outlet></router-outlet>

</div>
<!-- /.container -->
<!-- Footer -->
<footer class="py-5 bg-dark">
        <div class="container">
                <p class="m-0 text-center text-white">Copyright @Vo Duc Lan</p>
        </div>
        <!-- /.container -->
</footer>