h1 {
  color:red;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
  
}
h2{

  color: blue;
  font-family: 'Times New Roman', Times, serif;
  font-size: 12;
}
  .ng-valid[required]:not(form), .ng-valid:not(form)  {
    border-left: 5px solid #42A948; /* green */
  }
  
  .ng-invalid:not(form)  {
    border-left: 5px solid #a94442; /* red */
  }